<html ng-controller="Root">
<head>
  <title ng-bind-template="{{user.name}}'s Task Manager">Task Manager</title>

  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="css/layout.css" rel="stylesheet" type="text/css">
  <link href="css/theme.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="border">

    <!-- header -->
    <a ng-href="{{user.link}}"><img class="photo" ng-src="{{user.picture}}"></a>

    <h1 ng-hide="user" class="status">Authorizing...</h1>
    <h1 ng-show="user" ng-cloak>{{user.name}}'s</h1>
    <h1 class="title">Task Manager</h1>

    <!-- list of taskLists -->
    <ul class="tasklists" ng-cloak>
      <li ng-repeat="list in taskLists">
        <div class="tasklist-row">
          <a ng-click="toggle()" class="left" ng-class="listIcon()"></a>
          <a ng-click="addTask()" class="icon-plus right"></a>
          <div ng-model="list.title" ng-change="list.$save()" contentEditable="true" class="tasklist-title"></div>
        </div>

        <!-- list of tasks -->
        <ul ng-show="tasksVisible" class="tasks">
          <li ng-repeat="task in list.$tasks" class="task-row status-{{task.status}}">
            <a ng-click="complete(task)" class="icon-check left"></a>
            <a ng-click="remove(task)" ng-class="confirmIcon()" class="icon-remove-circle right"></a>
            <div ng-model="task.title" ng-change="task.$save()" contentEditable="true" class="task-title"></div>
          </li>
          <li ng-show="list.$tasksLoading" class="status loading">...loading...</li>
        </ul>
      </li>
    </ul>

    <!-- footer -->
    <div class="footer">Powered by
      <a href="https://developers.google.com/appengine/" target="_blank">Google AppEngine</a> &amp;
      <a href="http://angularjs.org" target="_blank">AngularJS</a>.
      Source on <a href="https://github.com/vojtajina/task-manager" target="_blank">GitHub</a>.
    </div>

  </div>


  <!-- AngularJS -->
  <script src="lib/angular.min.js" type="text/javascript"></script>

  <!-- Task Manager APP code -->
  <script src="js/app.js" type="text/javascript"></script>
  <script src="js/controllers/Root.js" type="text/javascript"></script>
  <script src="js/services/authHttp.js" type="text/javascript"></script>
  <script src="js/services/focusLastRow.js" type="text/javascript"></script>
  <script src="js/model/TaskList.js" type="text/javascript"></script>
  <script src="js/model/Task.js" type="text/javascript"></script>
  <script src="js/directives/contentEditable.js" type="text/javascript"></script>
  <script src="js/by-pass-auth.js" type="text/javascript"></script>

  <!-- Google Auth API library -->
  <script src="https://apis.google.com/js/auth.js?onload=onAuthLibLoad"></script>

</body>
</html>
